name: CI

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  
  workflow_dispatch:

jobs:
  lint:
    strategy:
      fail-fast: true
      matrix:
        python-version: ['3.11']
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    permissions:
      checks: write
      pull-requests: write
      contents: read

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python-version}}
      - name: Install Project
        run: make install-test
      - name: Look for style errors
        run: make lint
      - name: Check for importing style
        run: make check-ci-import-fmt
      - name: Look for auto format errors
        run:  make check-ci-errors-fmt
  tests:
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.11']
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    permissions:
      checks: write
      pull-requests: write
      contents: read

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python-version}}
      - name: Install Project
        run: make install-test
      - name: Run tests
        run: make testci
      - name: publish junit results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: test-result.xml
          check_name: Test Result (Python ${{matrix.python-version}})
